<!DOCTYPE html>
<html>
	<head>
		<title>MVP Design &amp; Development For Founders</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
		<%= render "layouts/header" %>
		<div class="wrap">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "signed-sucess") %>
			<% end %>
			<%= yield %>
		</div>
		<%= render "layouts/footer" %>
		<!-- Google Analytics -->
		<script>
 			 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 			 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 			 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 			 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 			 ga('create', 'UA-42555913-2', 'generalist.io');
 			 ga('send', 'pageview');

		</script>
	</body>
</html>
